@media print {
    body * {
        visibility: hidden;
    }

    #receipt, #receipt * {
        visibility: visible;
    }

    #receipt {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80mm;
    }

    @page {
        margin: 0;
    }

    body {
        margin: 0;
    }
}
