@media print {
    #receipt {
        display: inline-block;
        width: 80mm;
        text-align: left;
        margin-top: 20mm; /* បន្ថែមចន្លោះពីលើ */
    }
    body {
        text-align: center;
    }
    @page { margin: 0; size: 80mm auto; }
    body *:not(#receipt) { display: none; }
}
